<section class="product-details">
  <div class="container">
    <div class="details-card">
      <img [src]="product.img" [alt]="product.name" />
      <div class="details-info">
        <h2>{{ product.name }}</h2>
        <p>{{ product.desc }}</p>
        <div class="price">
          <span>Rent: {{ product.priceRent }}</span>
          <span>Buy: {{ product.priceBuy }}</span>
        </div>
        <button class="btn-book" (click)="bookNow()">Book Now</button>
      </div>
    </div>
  </div>
</section>
